<div class="about-layout">
  <div class="row">
    <div class="sec col-12 col-md-6 col-lg-6 col-xl-6">
      <img
        class="about"
        src="../../../../assets//images/about.png"
        alt="About"
      />
    </div>
    <div class="sec col-12 col-md-6 col-lg-6 col-xl-6">
      <h1 class="colorize-title">About Us</h1>
      <p class="caption">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour,
        There
      </p>
      <a class="read_more">Read More</a>
    </div>
  </div>
</div>
